.heading {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.inputWrapper {
  margin-top: 1rem;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
